@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
* reset */
body, h1, ul { margin: 0px; }
button { cursor: pointer;   }
body::-webkit-scrollbar {
  display: none;
}

*{box-sizing: border-box;}

.second{
  display: flex;
  justify-content: center;
  background-color:#e76f51;
}
.second_size{
  width: 1200px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.second_content {
  display: flex;
  background-color:white;
  padding: 40px;
  border-radius: 10px;
}
.second_content > h1{
  font-size: 45px;
  color: black;
  font-family: 'Noto Sans TC';
  font-style: normal;
  margin: 0px;
  margin-bottom: 15px;
}
.second_content > h3{
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-size: 16px;
  color: #F8F8F8;
  margin: 0px;
  margin-bottom: 25px;

}
.tws {
  text-align: center;
}
.tws > ul {
    display: table-cell;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.tws > ul > li  {
  display: grid;
}
.tws > ul > li > b {
  font-size: 28px;
}
.tws > ul > li > span {
  font-size: 28px;
}
.second_search > input{
  width: 125px;
  height: 26px;
  background: #FFFFFF;
  border-width: 1px;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #757575;
  letter-spacing: 1px;
  padding: 11px;
  margin-left: 50px;

}
.second_search > button{
  padding: 3px;
  background: #e76f51;
  width: 26px;
  height: 26px;
  border-width: 0px;
  border-radius: 0px 5px 5px 0px;
}
.second_search > button > img{
  width: 20px;
  height: 20px;
}
.second_search{
display: flex;
justify-content: center;
margin-top: 80px;
}

.third_out{
    display: flex;
    width: auto;
    justify-content: center;
    background-color:#e76f51;
  }
.third{
      width: 1200px;
      display: flex;
      text-align: center;
      flex-wrap:wrap;
      margin: 15px;
      justify-content: center;
  }
.third > div{
  background-color:white;
  padding: 5px;
  border-radius: 10px;

}
.third > div > h1{
  font-size: 35px;
  margin: 5px;
}
tbody > tr > .stock_money_title{
  font-size: 15px;
  padding: 5px 50px;
  background:#f7f3f5;
}

tr > .stock_money_value1{
  font-size: 15px;
  padding: 5px 50px;

}
 tr > .stock_money_value2{
  font-size: 15px;
  padding: 5px 50px;
  background:#f7f3f5
}
tr > td > a{
  text-decoration:none;
}


  @media only screen and (max-width:1250px){
    nav {
      width: 1000px; 
    }
    .second_size{
      width: 1000px; 
    }

    .second_image{
      height: 320px;
    }
    .second_image > img {
      height: 100%;
    }
    .third{
      width: 1000px;
       
    }
}
 
  @media only screen and (max-width:1000px){
    nav {
      width: 800px; 
    }
    .second{
      height: 280px;
    }
    .second_size{
      width: 800px; 
      height: 280px;
    }
    .second_search > input{
      width: 250px;
    }

    .third{
      width: 800px;
       
    }
}

@media only screen and (max-width:800px){
  nav {
    width: 600px; 
  }
  .second{
    height: 220px;
  }
  .second_size{
    width: 600px; 
    height: 220px;
  }
  .second_content > h1{
    font-size: 20px;
  }
  .second_content > h3{
    font-size: 15px;
  }
  .second_search > input{
    width: 200px;
    height: 30px;
  }
  .second_search > button{
    width: 40px;
    height: 30px;
  }


  .third{
    width: 600px;
     
  }
}
@media only screen and (max-width:630px){

  nav {
    width: 500px; 
  }
  .second{
    height: 220px;
  }
  .second_size{
    width: 500px; 
    height: 220px;
  }
  .second_content > h1{
    font-size: 20px;
  }
  .second_content > h3{
    font-size: 15px;
  }

  .second_search > input{
    width: 180px;
    height: 25px;
    font-size: 8px;
  }
  .second_search > button{
    width: 30px;
    height: 25px;
  }
  .second_search > button > img{
    width: 25px;
    height:25px;
  }
  .second_image{
    height: 220px;

    
  }
  .second_image > img {
    height: 100%;
    
  }
  .third{
    width: 500px;
     
  }
  .third_out{
    margin-top: 20px;
  }
  
  
}
@media only screen and (max-width:500px){

  nav {
    width: 340px; 
  }
  nav > button{
    float: right;
    padding: 0px;
    background-color: white;
    border:0px;
    margin: 20px 5px 20px;
    font-size: 16px;
  
}
  .second{
    width: auto;
    height: 280px;
  }
  .second_size{
    width: 360px; 
    height: 280px;
  
  }
  .second_content{
    z-index: 2;
    position: absolute;
    
  }
  .second_content > h1{
    font-size: 28px;
    line-height: 24px;
  }
  .second_content > h3{
    font-size: 16px;
    line-height: 13px;
    font-weight:normal;

  }
  .second_search{
    float: left;
  }
  .second_search > input{
    width: 230px;
    height: 46px;
    font-size: 16px;
  }
  .second_search > button{
    width: 63px;
    height: 46px;
  }
  .second_search > button > img{
    width: 30px;
    height: 30px;
  }
 .second_image{
  position: absolute;
   width: 100%;
   height: 280px;
   overflow: hidden;
 }
  .second_image > img{
    z-index: 1;
    position: absolute;
    Width :276px;
    Height :148px;
    overflow: hidden;
    top: 132px;
    left: 160px;
  }

  .third{
    width: 360px;
     
  }
}