<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='./css/head.css') }}">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='./js/head.js') }}" type="text/javascript" ></script> 
    <title>Head</title>
</head>
<body>
    <div class="header" id="header">
        <div class="spinner_size" id ="spinner_size">
            <div class="spinner" id ="spinner">
                <div></div>
                <div></div>
            </div>
            <h1>Loading</h1>
        </div>
        <nav id="nav">
            <a href="/"><h1 >上市個股資金流向</h1></a>
            <button class="search_stock" id ="search_stock" onclick="search_stock()"><img src="{{ url_for('static', filename='images/seach.png')}}" ></button>
            <div class="search">
                <input type="text" id ="search_text" placeholder="請輸入股票代號"/>
                <div id ="auto_div">
                </div>
            </div>
            <button class="member_stock" id ="member_stock" onclick="member_stock()">自選股</button>
            <button class="signout" id="signout" onclick="signout_click()">登出</button>
            <button class="signup" id="signup" onclick="signup_click()">註冊</button>
            <button class="login" id="login" onclick="login_click()">登入</button>
            <button class="member_name" class="member_name" id="member_name"></button>
        </nav>

    </div>
    {% block header %}
    {% endblock %}
    <footer>
        <h3>COPYRIGHT © 2022 上市個股資金流向</h3>
    </footer>
</div>
</body>
</html>