<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='./css/member.css') }}">
    <script src="{{ url_for('static', filename='./js/member.js') }}" type="text/javascript" ></script> 
    <title>Member</title>
</head>
<body>
    <div class="title">
    <form action="action.js" class="longin">
        
        <h1>Longin 登入</h1>
        <input type="text" placeholder="Username 用戶名稱" />
        <input type="password" placeholder="Username 用戶密碼" />
        <input type="submit" value="Submit 提交">
    </form> 
    </div>
</body>
</html>