<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='./css/signup.css') }}">
    <script src="{{ url_for('static', filename='./js/signup.js') }}" type="text/javascript" ></script> 
    <title>Signup</title>
</head>
<body>
   
    <form action="/signup_db" class="signup" method="post">
        <a href="/"><h1>上市個股資金流向</h1></a>
        <input type="text" placeholder="E-mail" />
        <input type="password" placeholder="密碼" />
        <input type="password" placeholder="請再輸入一次密碼" />
        <input type="text" placeholder="暱稱" />
        <input type="submit" value="註冊">
        <a href="/login">已有帳號</a>
    </form> 
    
</body>
</html>