<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='./css/signup.css') }}">
    <script src="{{ url_for('static', filename='./js/signup.js') }}" type="text/javascript" ></script> 
    <title>Signup</title>
</head>
<body>
   
        <div class="signup">
        <a href="/"><h1>上市個股資金流向</h1></a>
        <input type="text" id="new_member_name" placeholder="輸入姓名" autocomplete="off" >
        <input type="email" id="new_member_email" placeholder="輸入電子信箱" autocomplete="off" >
        <input  type="password" id="new_member_password" placeholder="輸入密碼" >
        <input  type="password" id="new_member_password_confirm" placeholder="再次確認密碼" >
        <input type="submit" value="註冊新帳號" onclick="create_new_member_click()">
        <h3 id="new_member_error_massage"></h3>
        <a href="/login">已有帳號</a>
        </div>
</body>
</html>