<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='./css/stock_name.css') }}">
    <script src="{{ url_for('static', filename='./js/stock_name.js') }}" type="text/javascript" ></script> 
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script> 
    <title>Stock</title>
</head>
<body>
    {% extends 'head.html' %}
    {% block header %}
    <stock_second class="stock_second" id="stock_second">
        <div class="stock_second_size">
            <div class="stock_second_content">
                <h1  class="stock_name" id ="stock_name"><h1>
                <div class="stock">
                    <ul>
                        <li id="stock">  
                            <b>成交</b>
                        </li>
                    </ul>
                   
                    <ul>
                        <li id="stock_up_or_down">  
                            <b>漲跌</b>
                        </li>
                    </ul>
                    <ul>
                        <li id="stock_up_or_down_point">  
                            <b>漲幅</b>
                        </li>
                    </ul>
                    <ul>
                        <li id ="stock_money">  
                            <b>成交量(千)</b>
                        </li>
                    </ul>
                </div>
            </div>
        
        
        </div>
    </stock_second>
    <div class="stock_k" id ="stock_k">
        <div class="stock_k_size" id="stock_k_size">
            <div class="stock_k_content" id ="stock_k_content">
            </div>
        </div>
    </div>

    {% endblock %}
</body>
</html>